<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảo An Phát</title>
    <!-- Favicon và các tài nguyên khác -->
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/products.css">
    <!-- jQuery -->
    <title>Bảo An Phát</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap" rel="stylesheet">

    <!-- Link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/products.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="main">
        <!-- Navigation -->
        <div id="header">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Bảo An Phát</a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Trang chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Giới Thiệu</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/product">Sản Phẩm</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Liên Hệ</a></li>
                        </ul>
                        <form action="/sreach" method="GET" class="d-flex">
                            <input class="form-control me-2" name="tensp" placeholder="Tìm kiếm">
                            <button class="btn btn-outline-success" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Products -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="section-title text-center">
                    <h2 class="display-5 mb-5"><%= title %></h2>
                </div>
                <div id="product-container" class="row g-4 portfolio-container">
                    <% Allproducts.forEach(product => { %>
                        <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                            <div class="rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="#">
                                        <img class="img-fluid w-100" src="/static/img/products/product1.jpg" alt="Van Cửa Đồng" style="height: 460px;">
                                    </a>
                                </div>
                                <div class="border border-5 border-light border-top-0 p-4">
                                    <a href="#">
                                        <h5 class="lh-base mb-0 text-primary fw-bold"><%= product.TenSP %></h5>
                                        <button class="fw-medium mb-2">Chi Tiết</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="pagination">
            <ul id="pagination" class="pagination">
                <% if (_page == 1) { %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="#" data-page="<%= _page - 1 %>">&laquo;</a>
                    </li>
                <% } %>

                <% for (var i = 1; i <= totalPage; i++) { %>
                    <li class="page-item <%= _page == i ? 'active' : '' %>">
                        <a class="page-link" href="#" data-page="<%= i %>"><%= i %></a>
                    </li>
                <% } %>

                <% if (_page == totalPage) { %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="#" data-page="<%= _page + 1 %>">&raquo;</a>
                    </li>
                <% } %>
            </ul>
        </nav>

        <!-- Footer -->
        <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4 fs-15rem fw-bold">Địa Chỉ</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>A24 Tân Thới Nhất 17, Quận 12, TP. Hồ Chí Minh</p>
                        <p class="mb-2"><i class="fa fa-phone me-3"></i>0906 374 669 - 0969 025 077</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>vanbaoan99@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-google"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4 fs-15rem fw-bold">Sản Phẩm</h4>
                        <a class="btn btn-link" href="">Ống Đúc</a>
                        <a class="btn btn-link" href="">Ống Kẽm</a>
                        <a class="btn btn-link" href="">Van Cổng</a>
                        <a class="btn btn-link" href="">Van Giảm Áp</a>
                        <a class="btn btn-link" href="service1-detail.html">Sản Phẩm Khác</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4 fs-15rem fw-bold">Bảo An Phát</h4>
                        <a class="btn btn-link" href="">Giới Thiệu</a>
                        <a class="btn btn-link" href="">Sản Phẩm</a>
                        <a class="btn btn-link" href="">Liên Hệ</a>
                        <a class="btn btn-link" href="">Vị Trí</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <img width="100%" src="/static/img/logo.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Bảo An Phát</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            Designed By <a class="border-bottom" href="">ATeam</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script để xử lý AJAX -->
    <script>
        $(document).ready(function() {
            $('#pagination').on('click', 'a', function(e) {
                e.preventDefault();
                var page = $(this).data('page');
                var tensp = '<%= _tensp %>'; // Nếu có tham số tìm kiếm

                $.ajax({
                    url: '/product',
                    type: 'GET',
                    data: { page: page, tensp: tensp },
                    success: function(data) {
                        $('#product-container').html($(data).find('#product-container').html());
                        $('#pagination').html($(data).find('#pagination').html());
                    }
                });
            });
        });
    </script>
</body>
</html>
